*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.inicio{
    background-color: rgb(41, 151, 185);
}

.fondo-generico {
    background-color: rgb(88, 213, 202);
}


.texto-negrita{
    font-weight: bold;
}

ul{
    list-style-type: none;
}

.reseteo-listas a:link, a:visited, :active{
  text-decoration: none;
  list-style-type: none;
}


section p{
color: brown;
font-size:20px;
font-weight:bold;
font-style:normal;
font-family:'Courier New', Courier, monospace ;
text-align: center;
}

div {
width: 160;
height: 80;
padding:20px;
border: 1px solid rgb(0, 0, 0);
display:inline-block;
font-size: 32px;
font-family: Arial;
background-color: yellow;
overflow: hidden;
/* overflow-x: hidden; */
/* overflow-x: scroll; */

}



.color-planes{
    background-color: rgb(106, 212, 106);
}

.content-box{
    /* box-sizing: content-box; */
    /* margin-botton:20px; */

}

.border-box{
    /* box-sizing: border-box; */
    /* dsd */
}
