.contenedor-general {
    display: grid;
    //   width: 100vw;
    //  height: 100vh;

    /* grid-gap: 20px; */
    grid-template-columns: 30rem 1fr;
    grid-template-rows: 5rem 1fr 20rem;
    /* justify-content: space-between; */
}


.contenedor-general .header {
    /* width: 70%;
    height: 10%; */
    height: 100%;
    /* Ubicación de header*/
    background-color: rgb(15, 15, 15);
    grid-column-start: 2;
    grid-column-end: 3;
    /* 3 */
    grid-row-start: 1;
    grid-row-end: 1;
}